black[jupyter]==24.2.0
blacken-docs
pre-commit
pytest==7.3.2
pytest-xdist
pytest-playwright
dask
distributed
browsergym>=0.6.0
joblib>=1.2.0
openai>=1.7,<2
langchain>=0.1,<1
langchain_openai
langchain_community
tiktoken
huggingface_hub
contexttimer
ipython
pyyaml>=6
pandas
gradio
