{%- if show_headings %}
{{- [basename, "Module Documentation"] | join(' ') | e | heading(1) }}

**Module Overview**
===================
This is the documentation for the `{{ basename }}` module. Below you’ll find detailed descriptions of its functionality.

{% endif -%}
.. automodule:: {{ qualname }}
{%- for option in automodule_options %}
   :{{ option }}:
{%- endfor %}

{%- if related_modules %}
**Related Modules**
===================
The following modules are closely related and might be of interest:
{%- for related in related_modules %}
- {{ related }}
{%- endfor %}
{% endif %}
