{{ header | heading }}

.. toctree::
   :maxdepth: {{ maxdepth }}

   {%- for docname in docnames %}
   {{ docname }}
   {%- endfor %}

**Table of Contents**
======================
This section provides an overview of the documentation structure. You can navigate to specific sections or modules using the links above.

{% for docname in docnames %}
- [{{ docname }}](./{{ docname }}.html)
{% endfor %}
