name: Darglint checks

on:
  push:
    branches:
      - main
  pull_request:

jobs:

  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    steps:

      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          enable-cache: true

      - name: Set up Python
        run: uv python install 3.12 # this fails in 3.11

      - name: Install dependencies
        run: uv sync --frozen 

      - name: Darglint checks
        run: uv run darglint -v 2 -z short src/
